<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.plannus">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_only"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlanNUS"
        android:usesCleartextTraffic="true"
        tools:remove="android:appComponentFactory"
        tools:targetApi="31">
        <activity
            android:name=".Activities.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TimetableSettingsActivity"
            android:exported="false"
            android:parentActivityName=".Activities.GenerateTimetableActivity" />
        <activity
            android:name=".Activities.GenerateTimetableActivity"
            android:exported="false"
            android:parentActivityName=".Activities.ContentMainActivity" />
        <activity
            android:name=".Activities.CompletedTaskActivity"
            android:exported="false"
            android:parentActivityName=".Activities.ToDoList" />
        <activity
            android:name=".Activities.EditTaskActivity"
            android:exported="false"
            android:parentActivityName=".Activities.ToDoList" />
        <activity
            android:name=".Activities.AddTaskActivity"
            android:exported="false"
            android:parentActivityName=".Activities.ToDoList" />
        <activity
            android:name=".Activities.ToDoList"
            android:exported="false"
            android:parentActivityName=".Activities.ContentMainActivity" />
        <activity
            android:name=".Activities.ContentMainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterUser"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>